version: '3'
volumes:
  dados:
networks:
  data:
  web:
  queuenet:
services:
  db:
    image: postgres:9.6
    volumes:
      # Volume of data
      - dados:/var/lib/postgresql/data
      # Scripts
      - ./scripts:/scripts
      - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - data
    environment:
      POSTGRES_PASSWORD: "postgres"
  fontend:
    image: nginx:1.13
    volumes:
      # Site
      - ./web:/usr/share/nginx/html/
      # Reverse proxy configuration
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 3000:80
    networks:
      - web
    depends_on:
      - app
  app:
    image: python:3.6
    volumes:
      # Application
      - ./app:/app
    working_dir: /app
    command: bash ./app.sh
    networks:
      - data
      - web
      - queuenet
    environment:
      - DB_HOST=db
      - DB_NAME=email_sender
      - DB_USER=postgres
      - DB_PASSWORD=postgres
    depends_on:
      - db
      - queue
  queue:
    image: redis:3.2
    networks:
      - queuenet
  worker:
    build: worker
    volumes:
      # Worker
      - ./worker:/worker
    working_dir: /worker
    command: worker.py
    networks:
      - queuenet
    depends_on:
      - queue

