version: '3'
volumes:
  dados:
services:
  db:
    image: postgres:9.6
    environment:
      - POSTGRES_PASSWORD="postgres"
    volumes:
      # Volume of data
      - dados:/var/lib/postgresql/data
      # Scripts
      - ./scripts:/scripts
      - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
  fontend:
    image: nginx:1.13
    volumes:
      # Site
      - ./web:/usr/share/nginx/html/
    ports:
      - 3000:80
  app:
    image: python:3.6
    volumes:
      # Application
      - ./app:/app
    working_dir: /app
    command: bash ./app.sh
    ports:
      - 8080:8080
